
.navbar{
  background-color: #cbe920;
  border-radius: 10px;
  overflow: hidden;
  position: fixed;
  width:98%; 
}

.navbar a {
  float: left;
  display: block;
  color: #080101;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: rgb(2, 10, 5);
  color: rgb(245, 235, 235);
}
.navbar a.active {
  background-color: #cbe920;
  color: white;
}
.navbar .icon {
  display: none;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
/*.row {
position: relative;
top: 50px;
left: 30px;
width: 400px;
height: 200px;
}*/
.tab{
  
    margin-left: auto;
    margin-right: auto;
  
  }

.theme {
 
/*width: 25%;*/
/*padding : 5px;*/
/*display : inline-block;*/
margin-top: 100px;
margin-bottom: 100px;
margin-right: auto;

}
.gallery {
  /*background-color: blue;*/
  width: 400px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
}
.gallery img{
  border-radius: 30px;
  text-align: center ;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.pub{
  padding-right: 10%;
   
}
.pub img{
  border-radius: 30px;}
.video div {
  height:100px;
  width: 100px;
  bottom: 100%;
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 100px;
  
}
/*.video{
    position: relative;
    top: 50px;
    left: 30px;
    width: 200px;
    height: 150px;
}*/




footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: #cbe920;
  color: white;
  text-align: center;
  border-radius: 10px;
}